$dark: #171a3d;
$grey: #868686;
$lightGrey: #ededed;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Quick reset
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Core Sans D";
  src: url("./fonts/CoreSansD35-webfont.woff2") format("woff2"),
    url("./fonts/CoreSansD35-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans D";
  src: url("./fonts/CoreSansD55-webfont.woff2") format("woff2"),
    url("./fonts/CoreSansD55-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  color: $dark;
  font-family: "Core Sans D", sans-serif;
  font-weight: normal;
}
.container {
  padding: 30px 20px;
  @include lg {
    padding: 60px 0;
    background-image: url("./bg-dashed.svg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
}
.title-group {
  text-align: center;
  &__title {
    font-size: 30px;
    line-height: 1.1;
    @include lg {
      font-size: 45px;
    }
  }
  &__description {
    font-size: 18px;
    color: $grey;
    line-height: 1.3;
    margin-top: 0.4rem;
    @include lg {
      font-size: 24px;
    }
  }
}

.ordored-feat-list {
  margin-top: 30px;
  list-style: none;
  counter-reset: ordered-counter;
  @include lg {
    max-width: 1440px;
    width: 74%;
    min-height: 295px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    counter-increment: ordered-counter;
    position: relative;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    @include sm {
      max-width: 60vw;
      max-width: 350px;
    }
    @include lg {
      margin: 0;
      max-width: 300px;
    }
    &:nth-of-type(2n) {
      align-self: flex-end;
    }
    &:before {
      content: counter(ordered-counter);
      font-weight: bold;
      font-size: 200px;
      display: inline-block;
      color: $lightGrey;
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -10px;
    }
  }
}

.feat-card {
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__text-block {
    flex: 1.6;
    text-align: center;
    & > h3 {
      font-size: 20px;
      margin-bottom: 0.4rem;
    }
    & > p {
      max-width: 300px;
    }
  }
}
